/* center all elements */
#mainContainer {
    font-family: sans-serif;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

/* button sizes */
.colourButton {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
}

#startGame {
    width: 150px;
    height: 50px;
}

/* command display styling */
#commandDisplay {
    color: green;
}


/* css for game to function */
#red {
    background-color: lightcoral;
}

#green {
    background-color: lightgreen;
}

#yellow {
    background-color: lightyellow;
}

#blue {
    background-color: lightblue;
}

#red-active {
    background-color: red;
    color: white;
}

#green-active {
    background-color: green;
    color: white;
}

#yellow-active {
    background-color: yellow;
    color: white;
}

#blue-active {
    background-color: blue;
    color: white;
}